#container {
  width: 900px;
  height: 800px;
  background-color: #75D8F9;
  margin: 50px auto;
  z-index: -1;
}
#container .superman {
  height: 400px;
  width: 200px;
  position: relative;
  top: 226px;
  left: 318px;
  z-index: 1;
  transform: scale(1.5);
}
#container .superman header {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-color: #000;
  border-style: solid;
  border-width: 15px 7px 7px;
  border-radius: 50% 50% 60% 60%;
  position: absolute;
}
#container .superman header .hair {
  width: 0;
  height: 0;
  border-top: 140px solid #000;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-radius: 30% 30% 50% 50%;
  position: absolute;
  top: -40px;
  left: 80px;
}
#container .superman header .left-eye,
#container .superman header .right-eye {
  width: 70px;
  height: 70px;
  background-color: #ffc30a;
  border: 5px solid #000;
  position: absolute;
}
#container .superman header .left-eye {
  border-radius: 50% 80%;
  top: 60px;
  left: 10px;
  transform: rotate(-15deg);
}
#container .superman header .right-eye {
  border-radius: 80% 50%;
  top: 60px;
  right: 10px;
  transform: rotate(15deg);
}
#container .superman header .left-ear,
#container .superman header .right-ear {
  width: 20px;
  height: 50px;
  background-color: #fff;
  border: 5px solid #000;
  position: absolute;
  z-index: -1;
}
#container .superman header .left-ear {
  top: 70px;
  left: -20px;
  transform: rotate(-7deg);
}
#container .superman header .right-ear {
  top: 70px;
  right: -20px;
  transform: rotate(7deg);
}
#container .superman .body {
  width: 100px;
  height: 80px;
  background-color: #fff;
  border: 7px solid #000;
  position: absolute;
  top: 180px;
  left: 50px;
  border-radius: 0 0 20% 20%;
  z-index: -1;
}
#container .superman .body .light {
  width: 40px;
  height: 40px;
  background-color: red;
  border: 3px solid #000;
  position: relative;
  top: 20px;
  left: 30px;
  transform: rotate(-45deg);
}
#container .superman .body .light span {
  width: 8px;
  height: 8px;
  display: block;
  background-color: #48e1e7;
  border: 2px solid #000;
  border-radius: 50%;
  position: absolute;
  top: 26px;
  left: 3px;
  z-index: 2;
  animation: 0.5s ease 0s normal none infinite running jump;
}
#container .superman .hand {
  width: 30px;
  height: 100px;
  background-color: #fff;
  border: 7px solid #000;
  border-radius: 60% 60% 50% 50%;
  position: absolute;
}
#container .superman .left-hand {
  top: 160px;
  left: 30px;
}
#container .superman .right-hand {
  top: 160px;
  left: 90px;
  transform: rotate(-90deg);
}
#container .superman .trousers {
  width: 100px;
  height: 45px;
  background-color: red;
  border: 7px solid #000;
  border-radius: 0 0 15% 15%;
  position: absolute;
  top: 240px;
  left: 50px;
  z-index: -2;
}
#container .superman .footer {
  width: 34px;
  height: 80px;
  background-color: #fff;
  border: 7px solid #000;
  border-radius: 50% 50% 60% 60%;
  position: absolute;
  z-index: -3;
}
#container .superman .left-footer {
  top: 260px;
  left: 46px;
  transform: rotate(20deg);
}
#container .superman .right-footer {
  top: 270px;
  right: 20px;
  transform: rotate(-50deg);
}
#container .superman .egg {
  width: 18px;
  height: 30px;
  background-color: #75d8f9;
  border-top: 7px solid #000;
  border-radius: 50%;
  position: absolute;
  top: 286px;
  left: 97px;
}
@keyframes jump {
  0% {
    background: #48e1e7;
  }
  50% {
    background: #961e1e;
  }
  100% {
    background: #48e1e7;
  }
}
